body {
    margin: 0;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif; 
}
 
h1 {
    color: #E6F3F5; 
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "preconnect", cursive; 
}
 
h2 {
    color: #55C0D3; 
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
 
h3 {
    color: #55C0D3; 
    font-family: "Roboto Condensed", sans-serif;
}
 
p {
    line-height: 2;
}
 
hr {
    border: none;
    height: 8px;
    margin: 60px auto;
    width: 10%;
    
    background: linear-gradient(to right,
        transparent, 
        #5C9EAD,
        transparent
    );
    
    border-radius: 4px;
}
 
a {
    color: #55C0D3; 
    font-family: "Roboto Condensed", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
 
a:hover {
    color: #E6F3F5; 
}
 
.top-container {
    background-color: #1D5F76; 
    position: relative;
    padding-top: 100px;
}
 
.middle-container {
    margin: 100px 0;
}
 
.bottom-container {
    background-color: #1D5F76; 
    padding: 50px 0 20px;
}
 
.intro {
    width: 30%;
    margin: auto;
}
 
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
    
.btn {
    background: #1D5F76; 
    border-radius: 80px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}
 
.btn:hover {
    background: #55C0D3; 
}
 
.hobAndAbi{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

#profile{
    height: 25%;
}

#hobbies-gif{ 
    height: 200px;
    border-radius: 30%;
    padding-right: 70px;
}

#student{
    height: 200px;
    border-radius: 100%;
    padding-right: 70px;
}

 
.footer-link{
    color: #E6F3F5; 
}

@media (max-width: 768px) {
    
    h1 {
        font-size: 3.5rem;
        margin-top: 20px;
    }
    
    .hobAndAbi {
        grid-template-columns: 1fr; 
        width: 90%; 
        text-align: center;
        row-gap: 2rem;
    }
    
    #hobbies-gif, #student {
        padding-right: 0;
        margin: 0 auto;
    }

    .intro, .contact-message {
        width: 90%;
    }
}